body{
    background-image: url("assets/tile.jpg");
}

h1 {
    text-align: center;
}

#formdiv{
    background-image: url("assets/formbg.jpg");
    margin: 0 auto;
    height: 20vh;
    width: 80%;
    padding: 20px;
}

form{
    margin-left: 65px;
}


#note-container{
    margin: 0 auto;
    width: 95%;
}

.note {
    height: 255px;
    background-repeat: no-repeat;
    background-size: auto;
    background-image: url(assets/notebg.png);
    padding-top: 30px;
}


.task {
    overflow: hidden scroll;
    max-height: 140px;
    height: 100%;
    margin-right: 45px;
}

.close-button { 
    position: relative;
    display: none;
    left: 75%;
}

.note:hover > .close-button, .close-button:hover{
    display: inline-block;
}
