body{
    background-image: url("assets/tile.jpg");
}

h1 {
    text-align: center;
    font-family: "Hurricane";
}

@font-face {
    font-family: "Hurricane";
    font-size: xx-large; 
    src: url("assets/Hurricane-Regular.ttf");
}

#formdiv{
    background-image: url("assets/formbg.jpg");
    margin: 0 auto;
    height: 20vh;
    width: 80%;
    /* max-width: 669px; */
    padding: 20px;
}

form{
    margin-left: 65px;
}

#note-container{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto 0 auto;
    width: 95vw;
}

.note {
    background-image: url(assets/notebg.png);
}

.red-note {
    background-image: url(assets/red-notebg.png);
}

.red-note , .note {
    position: relative;
    height: 255px;
    width: 185px;
    min-width: 185px;
    background-repeat: no-repeat;
    background-size: auto;
    padding: 20px 11px 0 0.75em;
    margin-right: 1rem;
}

.fade-in {
    animation: fadeIn 1.5s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}


.task {
    overflow: hidden auto;
    max-height: 160px;
    margin-top: 1em;
}

.datetime{
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}

.close-button { 
    display: none;
}

.note:hover > .close-button, .red-note:hover > .close-button, .close-button:hover{
    display: inline-block;
}
