body{
    background-image: url("assets/tile.jpg");
}

h1 {
    text-align: center;
}

#formdiv{
    background-image: url("assets/formbg.jpg");
    margin: 0 auto;
    height: 20vh;
    width: 80%;
    /* max-width: 669px; */
    padding: 20px;
}

form{
    margin-left: 65px;
}

#note-container{
    margin: 1rem auto 0 auto;
    width: 95vw;
}

.note {
    height: 255px;
    width: 185px;
    background-repeat: no-repeat;
    background-size: auto;
    background-image: url(assets/notebg.png);
    padding-top: 20px;
    padding-right: 11px;
    padding-left: 0.75em;
}

.fade-in {
    animation: fadeIn 1.5s;
}

 @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}


.task {
    overflow: hidden auto;
    max-height: 140px;
    height: 100%;
    margin-top: 1em;
    /* margin-right: calc(10px + 0.67em); */
}

.close-button { 
    display: none;
}

.note:hover > .close-button, .close-button:hover{
    display: inline-block;
}
